html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  cursor: url('./images/pointer.png'), auto;

  font-family: "Cormorant Garamond", serif;
}

#valentinesButton {
  display: none;
  position: absolute;

  background-color: #ffd6b8;
  border: 2px solid #ffb38f;
  color: #3b0f17;

  cursor: pointer;
  height: 58px;
  font-size: 19px;

  font-family: "Cormorant Garamond", serif;
  font-weight: 600;

  border-radius: 10px;
  padding: 0 18px;

  top: calc(50% + 150px);
  left: 50%;
  transform: translateX(-50%);

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
